.advantages {
@__list {
list-style: none;
display: flex;
flex-direction: column;
outline: 2 px solid black;
margin: 0 px;
}
@__item {
display: flex;
flex-direction: column;
align-items: center;
outline: 2 px solid black;
background-color: #EEEEEE;
}
@__sublist {
display: flex;
list-style: none;
flex-direction: column;
background-color: #FFFFFF;
}
@__subitem {
display: flex;
flex-direction: column;
align-items: flex-start;
margin-top: 25 px;
}
@__subtitle {
font-family: PT Sans, sans-serif;
font-size: 18 px;
line-height: 26 px;
font-weight: bold;
text-transform: uppercase;
color: #000000;
margin-bottom: 15 px;
}
@__subdescription {
font-family: PT Sans, sans-serif;
font-size: 14 px;
line-height: 21 px;
text-transform: uppercase;
color: #333333;
margin-top: 15 px;
}
@__title {
font-family: PT Sans, sans-serif;
font-size: 18 px;
line-height: 26 px;
font-weight: bold;
text-transform: uppercase;
color: #000000;
margin-top: 35 px;
}
@__title--details {color: white;
}
@__title--img {color: white;
}
@__number {
font-family: PT Sans, sans-serif;
font-size: 14 px;
line-height: 21 px;
color: #333333;
margin-top: 10 px;
}
@__number--details {color: white;
}
@__number--img {color: white;
}
@__description {
font-family: PT Sans, sans-serif;
font-size: 14 px;
line-height: 21 px;
text-transform: uppercase;
color: #333333;
margin-top: 15 px;
}
@__description--details {color: white;
}
@__description--img {color: white;
}
}
