.advantages {

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: @blue--light;
    color: @white;
  }



  // &__subitem {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   margin-top: 25px;
  // }

  // &__subtitle {
  //   font-size: 18px;
  //   line-height: 26px;
  //   margin-bottom: 15px;
  // }

  // &__subdescription {

  //   font-size: 14px;
  //   line-height: 21px;
  //   color: @gray--dark;
  //   margin-top: 15px;
  // }

  &__title {

    font-size: 18px;
    line-height: 26px;
    margin-top: 35px;
  }

  &__number {

    font-size: 14px;
    line-height: 21px;
    color: @gray--dark;
    margin-top: 10px;
  }

  &__description {

    font-size: 14px;
    line-height: 21px;
    color: @gray--dark;
    margin-top: 15px;
  }
}


