.contacts {
  &__title {

    font-size: 21px;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 166px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
  }
}
