.copyright {
  display: flex;
  flex-basis: 125px;
  justify-content: space-between;
  margin-bottom: 26px;
  margin-left: auto;
  margin-right: auto;

  &__text {
    font-size: 14px;
    line-height: 26px;
  }

  &__link {
    text-decoration: none;
  }
}
