.features {

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: @blue--light;
    color: @white;
    padding-left: 30px;
    padding-right: 30px;
    outline: 1px solid black;
  }

  &__title {
    margin-top: 35px;
  }

  &__number {
    font-size: 14px;
    line-height: 21px;
    margin-top: 10px;
  }

  &__description {
    font-size: 14px;
    line-height: 21px;
    margin-top: 15px;
    margin-bottom: 30px;
  }


  &__subitem {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    outline: 1px solid black;
  }

  &__subtitle {
    margin-bottom: 10px;
    color: @black;
  }

  &__subnumber {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 15px;
    color: @gray--dark;
  }


  &__subdescription {
    font-size: 14px;
    line-height: 21px;
    color: @gray--dark;
    margin-bottom: 23px;
  }

  @media (max-width: 767px) {

    &__title {
      font-size: 18px;
      line-height: 26px;
    }

    &__subitem {
      background-color: @white;
    }


    &__subtitle {
      font-size: 18px;
      line-height: 26px;
    }
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    outline: 1px solid black;

    &__photo {
      grid-column: 2 / 4;
    }

    &__title {
      font-size: 21px;
      line-height: 26px;
    }

    &__subitem {
      background-color: @gray--light;
      flex-direction: column;
      align-items: center;
    }

    &__subtitle {
      font-size: 21px;
      line-height: 26px;
    }

  }
}
