.photo {

  margin: auto;
  padding-left: 25px;
  padding-right: 25px;

  &__list {
    list-style: none;
    padding: 0px;
  }

  @media (max-width: 767px) {
    &__list {
      display: flex;
      flex-direction: column;
      margin: auto;
    }
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__unit--abroad {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }


  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px;

    &__unit--abroad {
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
}
