.site-list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  list-style: none;

  &__item {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin: 0px;
    vertical-align: center;
  }

  &__page {

    font-size: 18px;
    line-height: 40px;
    color: @white;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: auto;
    padding-right: auto;
  }
}
