.site-list {


  list-style: none;
  margin: 0px;
  padding: 0px;

  @media (max-width: 767px) {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    &__item {
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      text-align: center;
      margin: 0px;
      vertical-align: middle;
    }

    &__page {

      font-size: 18px;
      line-height: 40px;
      color: @white;
      text-decoration: none;
      padding-top: 8px;
      padding-bottom: 5px;
      padding-left: auto;
      padding-right: auto;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;


    &__page {
      font-size: 14px;
      line-height: 26px;
      color: @black;
      text-decoration: none;
    }

    .main-nav__toggle {
    display: none;
  }
  }



}
