.social {
  display: flex;
  justify-content: space-between;

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;
    box-sizing: border-box;
    background-color: @button-background;
    vertical-align: middle;
  }
}
